body {
    padding-top: 4.5rem;
}

.items {

}

.items__item {
    text-align: center;
}

.items__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items__action {
    flex-grow: 1;
    margin: 2px;
}