.overlay {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .5;
}

.modal-window-parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
    z-index: 1001;
}

.modal-window {
    background: #ffffff;
    border: 1px solid blue;
    box-shadow: rgb(113, 158, 206) 0px 0px 3px;
    display: flex;
    flex-direction: column;

    color: #000;

    width: 300px;
    height: 315px;
    padding: 15px;
}