.order-items__order-item {
    text-align: center;
}

.order-items__ actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.order-items__action {
    flex-grow: 1;
    margin: 2px;
}