.consumer-items__consumer-item {
    text-align: center;
}

.consumer-items__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.consumer-items__action {
    flex-grow: 1;
    margin: 2px;
}