.honey-items__honey-item {
    text-align: center;
}

.honey-items__actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.honey-items__action {
    flex-grow: 1;
    margin: 2px;
}